USE [master]
GO
/****** Object:  Database [MyStock]    Script Date: 7/29/2023 3:41:43 PM ******/
CREATE DATABASE [MyStock]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyStock', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStock.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MyStock_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MyStock_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyStock].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyStock]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 7/29/2023 3:41:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](50) NULL,
	[Manufacturer] [varchar](50) NULL,
	[Price] [money] NULL,
	[ReleasedYear] [int] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (1, N'Accord', N'Honda Motor Company', 24970.0000, 2021)
INSERT [dbo].[Car] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (3, N'Clarity', N'Honda Motor Company', 33400.0000, 2021)
INSERT [dbo].[Car] ([CarID], [CarName], [Manufacturer], [Price], [ReleasedYear]) VALUES (4, N'BMW 8 Series', N'BMW', 85000.0000, 2021)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
USE [master]
GO
